*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

/* as opposed to linear gradient */
html{
    background: radial-gradient(circle, white, grey);
}
#me{
    float: left;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
}
header{
    
    height: 300px;
    box-shadow: 0px 0px 25px 0px black;
    text-align: justify;
    background-color: white;
    padding: 10px;
    color: darkblue;
}
hr{
    height: 1px;
    /*background-color:black;*/
}
main hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgba(104, 107, 107, 0.2);
    border-width: 10px;
    width: 20%;
    margin:30px auto;

}
h1{
    font-size: 45px;
    text-shadow: 1px 1px 2px gray;
}
h2{
    font-size: 30px;
    text-shadow: 1px 1px 2px gray;
}
h3{
    font-size: 25px;
    margin-top: 20px;
}
header ul{
    list-style: none;
    display: flex;
}
li{
    border-right: 1px black solid;
    margin: 0px 10px;
    padding-right:10px;
}

/* THIS NOT WORKING
main ol{
    list-style:lower-roman;
}*/
main ol li{
    border-right: none;
}
/*
li:last-child{
    border-right: none;
} */
.links{
    margin-top:80px;
}
a:link{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
a:visited{
    color:darkblue;
}
a:hover{
    font-weight: 550;
    text-shadow: 1px 1px 2px lightgray;
}
a:active{
    color: darkgray;
}
main{
    font-family: sans-serif;
    margin: 40px auto;
    width: 80%;
    height: 500px;
    background-color:white;
    box-shadow: 0px 0px 25px 0px black;
    overflow-y:scroll;
    text-align:center;
    line-height: 40px;
    letter-spacing: 2.5px;
    font-size: 18px;
}
main article p{
    color: darkblue;
}
footer{
    font-family:sans-serif;
    width: 90%;
    height: 200px;
    background-color: blue;
    color: white;
    margin: 40px auto;
    box-shadow: 0px 0px 25px 0px black;
    background: linear-gradient(160deg, darkblue, lightblue);
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#projects a:link{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
#projects a:visited{
    color:darkblue;
}
#projects a:hover{
    font-weight: 550;
    text-shadow: 1px 1px 2px lightgray;
}
#projects a:active{
    color: darkgray;
}

#projects ul li{
    border-right:none;
}


