*{
    box-sizing:border-box;
}
html{
    background-image: url(images/marsh.jpg);
    text-align: center;
    height:1000px;
    width:auto;
    background-size: 100% 100%;
    padding: 0px;
    font-family: cursive;
}
.wrapper{
    padding: 15px;
}
header h1{
    font-size: 50px;
}
header{
}

a:link{
    color: black;
    font-weight: 600;
    text-decoration:none;
    font-size: 20px;
    margin-right:10px;
    text-align:justify;
}
a:visited{
    color: black;
    
}
a:hover{
    text-shadow: darkgrey 2px 2px 1px;
}
a:active{
    color: grey;
}
.me{
    border-radius: 20px;
}
main article{
    width:700px;
    height: 450px;
    margin: 10px auto;
    background-color: rgba(96,96,96, .7);
    color: lightgray;
    text-shadow: black 1px 1px 1px;
    border-radius: 20px;
    padding:30px;
    font-size: 18px;
    overflow-y: scroll;
}
